:root {
  --navBackgroundPrimary: #0b0c10;
  --fontPrimary: #eee2dc;
  --hoverLinkPrimary: #efc7b7;
  --btnPrimary: #66fcf1;
  --btnOutline: #45a29e;
}

.navbar {
  background: var(--navBackgroundPrimary);
  height: 64px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  z-index: -1;
}

.nav-logo {
  color: var(--fontPrimary);
  justify-self: start;
  cursor: pointer;
}

.nav-items {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
}

.nav-links {
  color: var(--fontPrimary);
  text-decoration: none;
  padding: 0.5rem 0.8rem;
}

.nav-links:hover {
  color: var(--hoverLinkPrimary);
}
